
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
sk{
  color: #0c0c0c;
}
html{
  font-family: 'Manrope', sans-serif;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}
@keyframes fade_in{
  from{
    transform: scale(1.1,1.1);
    opacity: 0;
  }
  to{
    transform: scale(1,1);
    opacity: 1;
  }
}
@keyframes cardsLoading{
  0%{
    background-color: #0c0c0c;
  }
  50%{
    background-color: #161616;
  }
  100%{
    background-color: #0c0c0c;
  }

}

